
<div class="header-area">
  
  <nav class=" main-nav navbar fixed-top navbar-expand-lg bg-dark navbar-dark"> 
    <a class="logo navbar-brand" href="/home"> <img src="../../../../assets/images/sh-re.png" width="48"
      height="48">Super <em>Market</em> Website</a> &nbsp;
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <ul class="nav navbar-nav">
        <li class="nav-item" >
          <a class="nav-link" href="/home">Home</a>
        </li>
        <li class="nav-item" >
          <a class="nav-link" href="/prod">Products</a>
        </li>
        <li class="nav-item" >
          <a class="nav-link" href="/cart">Cart</a> 
        </li>   
        <li class="nav-item" >
          <a class="nav-link" href="/contact">Contact</a>
        </li>    
       
      </ul>
    </div>  
  </nav>
  <!-- </div>
  </div>
  </div> -->
</div>