<div class="container">
    <div class="row">
        <div class="col col-6">
            <div class="card mx-auto" style="width: 18rem;">
                <img class="card-img-top" src="../../assets/imgs/poor.jpg" alt="Card image cap">
                <div class="card-body">
                  <p class="card-text">Support Families in need with a meal</p>
                  <p class="card-text">Each 100 Nis supports a family of 5 with a meal</p>
                  <input type="number">NIS.
                  <button class="btn btn-small btn-success mt-2 mx-auto">Donate</button>
                </div>
              </div>
        </div>
        <div class="col col-6">
            <div class="card mx-auto" style="width: 18rem;">
                <img class="card-img-top" src="../../assets/imgs/kid.jpg" alt="Card image cap">
                <div class="card-body">
                  <p class="card-text">Support a student with a laptop for distance learning.</p>
                  <p class="card-text">Each 700 Nis supports a student with a laptop.</p>
                  <input type="number">NIS.
                  <br>
                  <button class="btn btn-small btn-success mt-2 mx-auto">Donate</button>
                </div>
              </div>
        </div>
    </div>
  
 
</div>
