<!--// SubHeader //-->
<div class="ritekhana-subheader-view1">
    <span class="ritekhana-banner-transparent"></span>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>{{title | translate}}</h1>
            </div>
            <ul class="ritekhana-breadcrumb">
                <li><a routerLink>Home</a></li>
                <li><i class="fa fa-angle-right"></i> {{title}}</li>
            </ul>
        </div>
    </div>
</div>
<!--// SubHeader //-->